/* * {
	border: solid red 1px;
} */

/* MODAL START */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: white;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid grey;
	width: 75%;
	max-height: 400px;
	max-width: 400px;
}
.modal-body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.modal-body > form {
	display: flex;
	flex-direction: column;
	width: 35%;
}
.modal-body > h3 {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1px;
	color: #40454d;
}
.modal-footer {
	display:flex;
	flex-direction: row-reverse;
	padding: 1em 1em 0 1em;
}
/* MODAL END */
h3:hover {
	color: #40454d;
}
.townie-table-row:hover{
	background-color: rgba(30, 60, 103, .5);
	color: white;
}

form > .submit {
	background-color: #72befc;
	color: white;
}

nav {
	background-color: #72befc;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

nav > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav > div > h3 {
	padding: 10px 20px;
	margin: 0px;
	font-size: 18px;
}

.actions {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.greeting {
	text-transform: uppercase;
	color: white;
}

.greeting:hover {
	color: white;
}

.container {
	width: 100%;
	margin: 0px 0px;
	background-color: rgba(52, 60, 66);
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title > h1{
	color: #72befc;
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	text-align: center;
	padding-top: 80px;
	margin: 0px;
	font-size: 10vw;
	letter-spacing: 5px;
}

.title > img {
	align-self: center;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.mainimg {
	background-image: url("../images/clark-young-fQxMGkYXqFU-unsplash.jpg");
	height: 300px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: grayscale();
}

.mainboxes {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.mainboxes > div {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.mainboxes > div > h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #72befc;
	text-align: center;
}

.mainbtns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}

.mainbtns > button {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #40454d;
	border: 1px #40454d solid;
	border-radius: 0px;
	margin: 20px;
}

.mainbtns > button:hover {
	border: 1px white solid;
	color: white;
}
/* .mainboxes > div > h1:hover {
	text-decoration: underline;
} */

.mainboxes > div > p {
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	padding: 5px 20px;
	font-size: 12px;
	text-align: center;
}

.footer {
	background-color: #72befc;
	color: #40454d;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

/* FIND TOWNIE PARTIAL START */
.top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;
}
.top-container > div {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}
.top-container > div > input {
	color: black;
}
.top-container > div > select {
	color: black;
}
.main-container-find {
	background-color: #40454d;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.bottom-container > table {
	width: 90%;
	color: white;
	margin: 40px;
}


/* FIND TOWNIE PARTIAL END */

/* ADD TOWNIE PARTIAL START */
.main-container {
	background-color: #40454d;
	width: 100%;
}

.partialbody {
	margin: 20px;
}

.partialbody > form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.partialbody > legend {
	color: white;
	padding: 5px;
}

.partialbody > input {
	margin: 5px;
}

#submitaddnew {
	background-color: rgba(255, 255, 255, 1);
	color: #72befc;
}

#submitaddnew:hover {
	color: #40454d;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.small-container {
	width: 50%;
}

#right-container > img {
	width: 100%;

	filter: grayscale();
}
/* ADD TOWNIE PARTIAL END */

body {
	width: 100%;
}

#main-townie-display{
	background-color: #72befc;
	background-position: center;
	background-size: cover;

}
/* #main-townie-display > * {
	background-color: rgba(255, 255, 255, .5);
} */

/* #map-search-panel{
	background-color: rgba(255, 255, 255, .5);
} */

/***************
 * Map Styling *
 *             *
 ***************/
#map-directions-display {
	display: flex;
	flex-flow: column;
	align-items: center;
	display: none;
}

#map {
	height: 500px;
	width: 750px;
}

#right-panel {
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding: 10px;
	height: 100%;
	width: 390px;
	overflow: auto;
	background-color: rgba(255, 255, 255, .5);
}

#right-panel select, #right-panel input {
	font-size: 15px;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 12px;
}

/***************
 *  Like Btn   *
 *             *
 ***************/
/* Used: https://css-tricks.com/the-shapes-of-css/ */
.approval-div {
	display: flex;
	align-items: flex-end;
	margin-bottom: 2em;
	margin-left: 2em;
}
.approval-div > h5, p {
	margin: 0 2em;
}
.approve-ribbon {
      position: relative;
      background: rgba(52, 60, 66);
      height: 50px;
      width: 50px;
      border-radius: 25px;
    }
.approve-ribbon:before,
.approve-ribbon:after {
      content: '';
      position: absolute;
      border-bottom: 35px solid rgba(52, 60, 66);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      top: 35px;
      left: -5px;
      transform: rotate(-140deg);
    }
.approve-ribbon:after {
      left: auto;
      right: -5px;
      transform: rotate(140deg);
    }
.selected-approve-ribbon {
      position: relative;
      background: rgb(249, 209, 1);
      height: 50px;
      width: 50px;
      border-radius: 25px;
    }
.selected-approve-ribbon:before,
.selected-approve-ribbon:after {
      content: '';
      position: absolute;
      border-bottom: 35px solid rgb(249, 209, 1);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      top: 35px;
      left: -5px;
      transform: rotate(-140deg);
    }
.selected-approve-ribbon:after {
      left: auto;
      right: -5px;
      transform: rotate(140deg);
    }

	/* ----------------------------------------------
	/* ----------------------------------------------
	 * Generated by Animista on 2019-8-19 14:31:9
	 * w: http://animista.net, t: @cssanimista
	 * ---------------------------------------------- */

	/**
	 * ----------------------------------------
	 * animation text-focus-in
	 * ----------------------------------------
	 */
	@-webkit-keyframes text-focus-in {
	  0% {
	    -webkit-filter: blur(12px);
	            filter: blur(12px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-filter: blur(0px);
	            filter: blur(0px);
	    opacity: 1;
	  }
	}
	@keyframes text-focus-in {
	  0% {
	    -webkit-filter: blur(12px);
	            filter: blur(12px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-filter: blur(0px);
	            filter: blur(0px);
	    opacity: 1;
	  }
	}
