<fieldset>
	<div class="main-container">
	<div id="left-container" class="small-container">
	<div class="partialbody">
	<legend>Add Them Here</legend>
	<form ng-submit="ctrl.createTownie()">
		<input type="text" ng-model="ctrl.name" placeholder="Company Name"/>
		<input type="text" ng-model="ctrl.streetAddress" placeholder="Street Address"/>
		<input type="text" ng-model="ctrl.city" placeholder="City"/>
		<input type="text" ng-model="ctrl.state" placeholder="State"/>
		<input type="text" ng-model="ctrl.zipcode" placeholder="Zipcode"/>
		<textarea ng-model="ctrl.description" placeholder="description"></textarea>
		<input type="submit" id="submitaddnew" value="Create New Townie" ng-click="ctrl.changeInclude('findtownie')"/>
	</form>
	</div>
	</div>
	<div id="right-container" class="small-container">
		<img src="../images/town.jpg" alt="town">
	</div>
	</div>
</fieldset>
<!-- Search for their info:
<form ng-submit="ctrl.searchYelp()">
	<input type="text" ng-model="ctrl.yelpSearchName" placeholder="Name">
	<input type="text" ng-model="ctrl.yelpSearchCity" placeholder="City">
	<input type="text" ng-model="ctrl.yelpSearchState" placeholder="State">
	<input type="submit" value="search">
</form> -->
