
<div class="container">
	<h3 class="headingshow">{{ctrl.companyToShow.name}}</h3>
	<p class="showdescription"><b>{{ctrl.companyToShow.description}}</b></p>
	<div class="showcontainer">
	<div class="left">

        <div class="approval-div">
            <div class="selected-approve-ribbon"></div>
            <p>This Townie has {{ctrl.companyToShow.endorsements}} seals of approval from our users.</p>
        </div>
        <button class="white-btn"  ng-click="login={'display': 'block'}">Update This Townie</button>
        <button class="white-btn" ng-click="ctrl.deleteTownie(ctrl.companyToShow)">Delete This Townie</button>
        <form>
            <button id="back-btn" class="white-btn" type="button" ng-click="ctrl.changeInclude('findtownie'); ctrl.showMap = false">Back to List</button>
        </form>
    </div>
    <div class="right">
        <h4>Used this Townie?</h4>

		<div class="approval-div">
			<h5 class="headingsshow">Give them your seal of Approval:</h5>
				<div
				ng-class="(ctrl.isApprovedHover || ctrl.isApproved) ? 'selected-approve-ribbon' : 'approve-ribbon'"
				ng-click="ctrl.approveRibbonSelect(ctrl.companyToShow)"
				ng-mouseenter="ctrl.approveRibbonHover()"
				ng-mouseleave="ctrl.approveRibbonHover()">
			</div>
        </div>
        <button class="white-btn" ng-click="ctrl.changeInclude('writeReview'); ctrl.showMap = false" >See Reviews</button>
    </div>
	</div>
</div>
<!-- MODAL -->
<div
id="loginModal"
class="modal"
ng-style="login">
<div id="editModal" class="modal-content">
	<div class="modal-body">
		<form ng-submit="ctrl.editTownie(ctrl.companyToShow)">
			<label>Company Name</label>
			<input
			type="text"
			ng-model="ctrl.editedName"  value="{{ctrl.companyToShow.name}}"/>
			<label>Street Address</label>
			<input
			type="text"
			ng-model="ctrl.editedStreetAddress"  value="{{ctrl.companyToShow.streetAddress}}"/>
			<label>City</label>
			<input
			type="text"
			ng-model="ctrl.editedCity"  value="{{ctrl.companyToShow.city}}"/>
			<label>State</label>
			<input
			type="text"
			ng-model="ctrl.editedState"  value="{{ctrl.companyToShow.state}}"/>
			<label>Zipcode</label>
			<input
			type="text"
			ng-model="ctrl.editedZipcode"  value="{{ctrl.companyToShow.zipcode}}"/>
			<label>Description</label>
			<textarea
			ng-model="ctrl.editedDescription"  value="{{ctrl.companyToShow.description}}"></textarea>
			<input
			type="submit"
			value="Save Changes"
			ng-click="login={}">
		</form>
		<div class="modal-background"></div>
	</div>
</div>
</div>
