
<legend><h5>Write a New Review</h5></legend>
<form ng-submit="ctrl.publishNewReview(ctrl.companyToShow._id)">
  Trusty Townie Rating (0 to 5): <input type="number" ng-model="ctrl.newRating" min="0" max="5">
  Review:<textarea ng-model="ctrl.newReview" rows="8" cols="80"></textarea>
  <input type="submit" value="Submit Review">
</form>
<div class="user-reviews">
<h4>Reviews for {{ctrl.companyToShow.name}}</h4>
<article ng-repeat="review in ctrl.companyToShow.reviews | orderBy: '-date'">
    <h6>Trusty Townie Rating: {{review.rating}}</h6>
  <i>Reviewed on: {{ review.date | date:'MM/dd/yyyy @ h:mm:ssa'}}</i>
  <p>{{review.comments}}</p>
</article>
</div>
<button id="back-btn" type="button" ng-click="ctrl.changeInclude('showtownie'); ctrl.showMap = true">Go Back</button>
